@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url('Desktop-Home.jpg');
    background-size: cover;
}

/*------------------------------------------ header section --------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.logo-section {
    padding-left: 50px;
}

.black-backgorund {
    position: relative;
    background-color: black;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.white-circle-one {
    width: 25px;
    height: 25px;
    background-color: white;
    border-bottom-right-radius: 100%;
}

.white-circle-two {
    width: 25px;
    height: 25px;
    background-color: white;
    margin-top: 1px;
    border-top-right-radius: 100%;
}

.white-circle-three {
    position: absolute;
    top: 0;
    right: -1px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-bottom-left-radius: 100%;
}

.white-circle-four {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-top-left-radius: 100%;
}

.center-line {
    position: absolute;
    z-index: 110;
    left: 180px;
    width: 475px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.267);
}

.transparent-back {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(81.55px);
    border: 1px solid  rgba(0, 0, 0, 0.1);
    padding: 30px 250px 30px 60px;
}

.transparent-back ul {
    list-style-type: none;
    display: flex;
    
}

.transparent-back ul a{ 
    text-decoration: none;
    letter-spacing: 2.7px;
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;  
}

.transparent-back ul li{ 
    padding: 0px 10px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-back ul span {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px; 
    letter-spacing: 2.7px;
    padding-right: 10px;
} 

/*------------------------------------------ main left section ------------------------------------ */

main {
    margin-top: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-left-section {
    width: 600px;
}

.main-left-section p {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.72px;
    line-height: 33px;  
    color: #D0D6F9;
}

.main-left-section h1 { 
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 4.72px;
    line-height: 170px;  
    color: #FFFFFF;
}

.main-left-section .last-para {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 4.72px;
    line-height: 25px;  
    color: #D0D6F9;
}

/*------------------------------------------ main right section ------------------------------------ */

.main-right-section .white-back {
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right-section .white-back h3 {
    color: black;
    letter-spacing: 2px;
    font-size: 25px;
}